<%- include( "partials/header" ) -%>
<h1>¡Hola! Hello! こんにちは！</h1>
<p><%= startingContent %></p>
<% posts.forEach( function( post, index ){ %>
<%= JSON.stringify(post) %><br>
<% }); %>

<%- include( "partials/footer" ) -%>
